{% macro inline_category_form(job, category_id) %}
<form id="rename-category-{{category_id}}">
  <input hidden value="{{category_id}}" type="number" name="category_id" />
  <input hidden class="job-id" value="{{job}}" type="number" name="job_id" />
  <div class="form-group">
    <div class="row mb-3">
      <label for="">Name</label>
      <input type="text" class="form-control cat-name" placeholder="Category name" />
    </div>
    <div class="row mb-3">
      <label for="">Description</label>
      <textarea class="form-control cat-desc" name="description" id="" cols="30" rows="30"></textarea>
    </div>
    
    <button onclick="submitCategoryRenaming(category_id)" class="btn btn-default" on class="name-category-button" data-cat-id="{{category_id}}" type="button">Submit</button>
  </div>
</form>
{% endmacro %}
