/* .search-header{
    background-image: url('img/header-img.jpg');
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: hidden;
}

.nav-mod {
    max-height: 100px;
}

.text-white{
    color: white!important;
} */