.search-header {
  background-color: #d4d4d4;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
}
.header {
  background-color: #d4d4d4;
  color: white !important;
}
.nav-mod {
  background-color: #d4d4d4;
  max-height: 100px;
  color: white;
}

.text-black {
  color: white !important;
}

.search-form {
  width: 100%;
}
.wrap-form{
  width: 100%;
  background: white;
  padding: 50px 100px;
}
.nav-link{
  transition: unset;
  animation: unset;
}
table{
  width: 100%!important;
}